#u4529:active
{
	background: url("../images/google--u4529-m.png") no-repeat 0px 0px;
}

#u4528:active
{
	background: url("../images/facebook-u4528-m.png") no-repeat 0px 0px;
}

#u4530:active
{
	background: url("../images/twitter-u4530-m.png") no-repeat 0px 0px;
}

.version.about_me /* version checker */
{
	color: #000012;
	background-color: #E7FD61;
}

.html
{
	background: #FFFFFF url("../images/browser.png") no-repeat left top fixed;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 800px;
	border-style: none;
	border-color: #000000;
	margin-left: auto;
	margin-right: auto;
	background: transparent url("../images/header.png") no-repeat left top;
}

#page_position_content
{
	margin-bottom: -194px;
	padding-top: 6px;
	width: 0.01px;
}

#ppu87
{
	width: 0.01px;
	margin-left: 6px;
}

#u87
{
	z-index: 3;
	height: 84px;
	width: 312px;
	margin-bottom: -6px;
	margin-right: -10000px;
	margin-top: -6px;
	left: -6px;
}

#u112-4
{
	z-index: 73;
	margin-right: -10000px;
	left: 317px;
}

#menuu94
{
	z-index: 6;
	width: 634px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 634px;
}

#u95
{
	width: 125px;
	min-height: 34px;
	margin-right: -10000px;
}

#u96
{
	width: 125px;
	padding-bottom: 10px;
}

#u96:hover
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u96:active
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u120
{
	width: 125px;
	min-height: 34px;
	margin-right: -10000px;
	left: 127px;
}

#u121
{
	width: 125px;
	padding-bottom: 10px;
}

#u96.MuseMenuActive,#u121:hover
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u121:active
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u98-4_clip,#u122-4_clip
{
	width: 125px;
	height: 24px;
}

#u133
{
	width: 125px;
	min-height: 34px;
	margin-right: -10000px;
	left: 254px;
}

#u136
{
	width: 125px;
	padding-bottom: 10px;
}

#u121.MuseMenuActive,#u136:hover
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u136:active
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u137
{
	z-index: 25;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 111px;
}

#u136:hover #u137
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u136:active #u137
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u134
{
	width: 125px;
	top: 34px;
}

#u135
{
	width: 125px;
}

#u538
{
	width: 125px;
	padding-bottom: 7px;
	margin-right: -10000px;
}

#u538:hover
{
	width: 125px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u538:active
{
	width: 125px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u540-4
{
	width: 117px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u538:hover #u540-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 117px;
	margin: 0px -10000px 0px 0px;
}

#u538:active #u540-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 117px;
	margin: 0px -10000px 0px 0px;
}

#u602
{
	width: 125px;
	padding-bottom: 7px;
	margin-right: -10000px;
}

#u538.MuseMenuActive,#u602:hover
{
	width: 125px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u602:active
{
	width: 125px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u603-4
{
	width: 117px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u538.MuseMenuActive #u540-4,#u602:hover #u603-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 117px;
	margin: 0px -10000px 0px 0px;
}

#u602:active #u603-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 117px;
	margin: 0px -10000px 0px 0px;
}

#u537,#u599,#u618
{
	width: 125px;
}

#u621
{
	width: 125px;
	padding-bottom: 7px;
	margin-right: -10000px;
}

#u602.MuseMenuActive,#u621:hover
{
	width: 125px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u621:active
{
	width: 125px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u621.MuseMenuActive
{
	width: 125px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u622-4
{
	width: 117px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 2px;
}

#u602.MuseMenuActive #u603-4,#u621:hover #u622-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 117px;
	margin: 0px -10000px 0px 0px;
}

#u621:active #u622-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 117px;
	margin: 0px -10000px 0px 0px;
}

#u621.MuseMenuActive #u622-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 117px;
	margin: 0px -10000px 0px 0px;
}

#u146
{
	width: 125px;
	min-height: 34px;
	margin-right: -10000px;
	left: 381px;
}

#u149
{
	width: 125px;
	padding-bottom: 10px;
}

#u136.MuseMenuActive,#u135:hover,#u149:hover
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u149:active
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u149.MuseMenuActive
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u139-4_clip,#u152-4_clip
{
	width: 111px;
	height: 24px;
}

#u150
{
	z-index: 52;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 111px;
}

#u136.MuseMenuActive #u137,#u149:hover #u150
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u149:active #u150
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u149.MuseMenuActive #u150
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u147
{
	width: 120px;
	top: 34px;
}

#u1554
{
	width: 120px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1554:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1554:active
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1556-4
{
	width: 112px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u1554:hover #u1556-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 112px;
	margin: 0px -10000px 0px 0px;
}

#u1554:active #u1556-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 112px;
	margin: 0px -10000px 0px 0px;
}

#u148,#u1553,#u1577
{
	width: 120px;
}

#u1578
{
	width: 120px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u1554.MuseMenuActive,#u1578:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1578:active
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1578.MuseMenuActive
{
	width: 120px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1579-4
{
	width: 112px;
	min-height: 14px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u1554.MuseMenuActive #u1556-4,#u1578:hover #u1579-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 112px;
	margin: 0px -10000px 0px 0px;
}

#u1578:active #u1579-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 112px;
	margin: 0px -10000px 0px 0px;
}

#u1578.MuseMenuActive #u1579-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 112px;
	margin: 0px -10000px 0px 0px;
}

#u159
{
	width: 126px;
	min-height: 34px;
	margin-right: -10000px;
	left: 508px;
}

#u160
{
	width: 126px;
	padding-bottom: 10px;
}

#u160:hover
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u160:active
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u160.MuseMenuActive
{
	width: 126px;
	min-height: 0px;
	margin: 0px;
}

#u163-4_clip
{
	width: 126px;
	height: 24px;
}

#u98-4,#u122-4,#u139-4,#u152-4,#u163-4
{
	margin-right: -10000px;
	top: 5px;
}

#pu395
{
	width: 0.01px;
	margin-top: 6px;
}

#u395
{
	z-index: 77;
	width: 1280px;
	padding-bottom: 167px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/background.jpg") no-repeat left top;
}

#u410-6
{
	z-index: 78;
	width: 715px;
	min-height: 66px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 280px;
	left: 273px;
}

#u397
{
	z-index: 84;
	vertical-align: top;
	width: 100px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 180px;
	left: 581px;
	background: url("../images/profile-u397.png") no-repeat 0px 0px;
}

#u412
{
	z-index: 85;
	width: 741px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.75);
	position: relative;
	margin-right: -10000px;
	padding: 38px 270px 22px 269px;
	-pie-background: rgba(255,255,255,0.75);
}

#pu419
{
	width: 0.01px;
	margin-left: 4px;
}

#u419
{
	z-index: 86;
	vertical-align: top;
	width: 156px;
	height: 156px;
	margin-bottom: -6px;
	position: relative;
	margin-right: -10000px;
	background: url("../images/biodata-u419.png") no-repeat 0px 0px;
}

#u422-4
{
	z-index: 87;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 214px;
}

#u429-16
{
	z-index: 91;
	width: 730px;
	min-height: 252px;
	background-color: transparent;
	line-height: 22px;
	color: #000000;
	font-size: 18px;
	text-align: justify;
	font-family: Times, Times New Roman, Georgia, serif;
	margin-left: 6px;
	margin-top: 38px;
	position: relative;
}

#u434-6
{
	z-index: 107;
	display: block;
	vertical-align: top;
	margin-top: 75px;
	position: relative;
}

#tab-panelu1142
{
	z-index: 113;
	width: 461px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 831px;
	left: 409px;
}

#u1143
{
	z-index: 114;
	width: 461px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	position: relative;
}

#u1148
{
	z-index: 115;
	width: 231px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
}

#u1148:hover
{
	background: #FFFFFF url("../images/u1148-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#999999),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(top,#999999 ,#FFFFFF 100%);
	background: linear-gradient(to bottom,#999999 ,#FFFFFF 100%);
	width: 231px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u1148:active
{
	background: #FFFFFF url("../images/u1148-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#6B6B6B),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(top,#6B6B6B ,#FFFFFF 100%);
	background: linear-gradient(to bottom,#6B6B6B ,#FFFFFF 100%);
	width: 231px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u1148.TabbedPanelsTabSelected
{
	background: #FFFFFF url("../images/u1148-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#999999),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(top,#999999 ,#FFFFFF 100%);
	background: linear-gradient(to bottom,#999999 ,#FFFFFF 100%);
	border-style: none;
	border-color: transparent;
	width: 231px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u1150
{
	z-index: 117;
	height: 25px;
	width: 231px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	background: url("../images/u1150.png") no-repeat 0px 0px;
}

#u1148.TabbedPanelsTabSelected #u1150
{
	background: url("../images/u1150-a.png") no-repeat 0px 0px;
}

#u1144
{
	z-index: 119;
	width: 231px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	left: 230px;
}

#u1144:hover
{
	background: #FFFFFF url("../images/u1148-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#999999),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(top,#999999 ,#FFFFFF 100%);
	background: linear-gradient(to bottom,#999999 ,#FFFFFF 100%);
	width: 231px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u1144:active
{
	background: #FFFFFF url("../images/u1148-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#6B6B6B),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(top,#6B6B6B ,#FFFFFF 100%);
	background: linear-gradient(to bottom,#6B6B6B ,#FFFFFF 100%);
	width: 231px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u1144.TabbedPanelsTabSelected
{
	background: #FFFFFF url("../images/u1148-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#999999),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(top,#999999 ,#FFFFFF 100%);
	background: linear-gradient(to bottom,#999999 ,#FFFFFF 100%);
	border-style: none;
	border-color: transparent;
	width: 231px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u1146
{
	z-index: 121;
	height: 25px;
	width: 231px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 1px;
	background: url("../images/u1146.png") no-repeat 0px 0px;
}

#u1144.TabbedPanelsTabSelected #u1146
{
	background: url("../images/u1146-a.png") no-repeat 0px 0px;
}

#u1152
{
	z-index: 123;
	width: 461px;
	background-color: transparent;
	position: relative;
}

#u1153
{
	z-index: 124;
	width: 461px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 462px;
	margin-right: -10000px;
	position: relative;
}

#u1273
{
	z-index: 132;
	width: 25px;
	height: 25px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 50px;
	background: transparent url("../images/facebook.png") no-repeat left top;
}

#u1273:hover
{
	width: 25px;
	height: 25px;
	min-height: 0px;
	margin: 50px -10000px 0px 0px;
	background: #3765A3 url("../images/facebook.png") no-repeat left top;
}

#u1272-6
{
	z-index: 133;
	width: 55px;
	min-height: 25px;
	border-style: none;
	background-color: transparent;
	line-height: 12px;
	color: #3765A3;
	font-size: 10px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 75px;
}

#u1155
{
	z-index: 131;
	width: 25px;
	height: 25px;
	border-style: none;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 185px;
	background: transparent url("../images/twitter.png") no-repeat left top;
}

#u1157-6
{
	z-index: 125;
	width: 65px;
	min-height: 25px;
	border-style: none;
	background-color: transparent;
	line-height: 12px;
	color: #2A96DD;
	font-size: 10px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 210px;
}

#u1275
{
	z-index: 139;
	width: 25px;
	height: 25px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 340px;
	background: transparent url("../images/google-.png") no-repeat left top;
}

#u1275:hover
{
	width: 25px;
	height: 25px;
	min-height: 0px;
	margin: 50px -10000px 0px 0px;
	background: #3765A3 url("../images/google-.png") no-repeat left top;
}

#u1274-6
{
	z-index: 140;
	width: 65px;
	min-height: 25px;
	border-style: none;
	background-color: transparent;
	line-height: 12px;
	color: #DD4D3B;
	font-size: 10px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 365px;
}

#u1160
{
	z-index: 146;
	width: 461px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 38px;
	margin-right: -10000px;
	position: relative;
}

#widgetu1161
{
	z-index: 147;
	width: 0.01px;
	height: 459px;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 60px;
}

#widgetu1162
{
	z-index: 148;
	width: 342px;
	height: 51px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu1162.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 51px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1163-4
{
	z-index: 149;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 18px;
	color: #000000;
	font-size: 18px;
	text-align: left;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	left: 11px;
}

#u1165-4
{
	z-index: 153;
	width: 328px;
	min-height: 18px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 18px;
	color: #7F7F7F;
	font-size: 18px;
	font-family: Times, Times New Roman, Georgia, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu1162.non-empty-st #u1165-4
{
	background-color: #FFFFFF;
}

#widgetu1162:hover #u1165-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 18px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1162.focus-st #u1165-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 18px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1162.non-empty-st #u1165-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1162:hover #u1165-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1162.focus-st #u1165-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u1164-4
{
	z-index: 157;
	width: 10px;
	min-height: 20px;
	background-color: transparent;
	line-height: 18px;
	color: #FF0000;
	font-size: 18px;
	text-align: right;
	font-family: Times, Times New Roman, Georgia, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu1182
{
	z-index: 161;
	width: 342px;
	height: 51px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#widgetu1182.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 51px;
	min-height: 0px;
	margin: 60px -10000px 0px 0px;
}

#u1185-4
{
	z-index: 162;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 18px;
	color: #000000;
	font-size: 18px;
	text-align: left;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	left: 11px;
}

#u1184-4
{
	z-index: 166;
	width: 328px;
	min-height: 18px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 18px;
	color: #7F7F7F;
	font-size: 18px;
	font-family: Times, Times New Roman, Georgia, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu1182.non-empty-st #u1184-4
{
	background-color: #FFFFFF;
}

#widgetu1182:hover #u1184-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 18px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1182.focus-st #u1184-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 18px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1182.non-empty-st #u1184-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1182:hover #u1184-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1182.focus-st #u1184-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u1183-4
{
	z-index: 170;
	width: 10px;
	min-height: 20px;
	background-color: transparent;
	line-height: 18px;
	color: #FF0000;
	font-size: 18px;
	text-align: right;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u1167-4
{
	z-index: 174;
	width: 200px;
	min-height: 22px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 411px;
	left: 140px;
}

#widgetu1161.frm-sub-st #u1167-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 26px;
}

#widgetu1161.frm-sub-st #u1167-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1168-4
{
	z-index: 178;
	width: 200px;
	min-height: 44px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 411px;
	left: 140px;
}

#widgetu1161.frm-subm-err-st #u1168-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 48px;
}

#widgetu1161.frm-subm-err-st #u1168-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1181-4
{
	z-index: 182;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 18px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 411px;
	left: 140px;
}

#widgetu1161.frm-subm-ok-st #u1181-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu1161.frm-subm-ok-st #u1181-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1166-17
{
	z-index: 186;
	min-height: 31px;
	width: 131px;
	position: relative;
	margin-right: -10000px;
	margin-top: 411px;
	background: url("../images/u1166-17.png") no-repeat 0px 0px;
}

#u1166-17:hover
{
	background: url("../images/u1166-17-r.png") no-repeat 0px 0px;
}

#u1166-17:active
{
	background: url("../images/u1166-17-m.png") no-repeat 0px 0px;
}

#widgetu1161.frm-sub-st #u1166-17
{
	background: url("../images/u1166-17-fs.png") no-repeat 0px 0px;
}

#widgetu1186
{
	z-index: 203;
	width: 342px;
	height: 101px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 180px;
	left: -1px;
}

#widgetu1186.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 101px;
	min-height: 0px;
	margin: 180px -10000px 0px 0px;
}

#u1187-4
{
	z-index: 204;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 18px;
	color: #000000;
	font-size: 18px;
	text-align: left;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	left: 11px;
}

#widgetu1162.fld-err-st #u1163-4,#widgetu1186.fld-err-st #u1187-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#u1189-4
{
	z-index: 208;
	width: 328px;
	min-height: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 18px;
	color: #7F7F7F;
	font-size: 18px;
	font-family: Times, Times New Roman, Georgia, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu1186.non-empty-st #u1189-4
{
	background-color: #FFFFFF;
}

#widgetu1186:hover #u1189-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1186.focus-st #u1189-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1186.fld-err-st #u1189-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1186.non-empty-st #u1189-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1186:hover #u1189-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1186.focus-st #u1189-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u1188-4
{
	z-index: 212;
	width: 10px;
	min-height: 20px;
	background-color: transparent;
	line-height: 18px;
	color: #FF0000;
	font-size: 18px;
	text-align: right;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu1186_input,#widgetu1186_prompt
{
	width: 328px;
	min-height: 68px;
	color: #7F7F7F;
	font-family: Times, Times New Roman, Georgia, serif;
	font-size: 18px;
	font-style: italic;
	padding: 6px;
}

#widgetu1177
{
	z-index: 216;
	width: 342px;
	height: 51px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: -1px;
}

#widgetu1177.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 51px;
	min-height: 0px;
	margin: 120px -10000px 0px 0px;
}

#u1180-4
{
	z-index: 217;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 18px;
	color: #000000;
	font-size: 18px;
	text-align: left;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	left: 11px;
}

#u1178-4
{
	z-index: 221;
	width: 328px;
	min-height: 18px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 18px;
	color: #7F7F7F;
	font-size: 18px;
	font-family: Times, Times New Roman, Georgia, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu1177.non-empty-st #u1178-4
{
	background-color: #FFFFFF;
}

#widgetu1177:hover #u1178-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 18px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1177.focus-st #u1178-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 18px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1162.fld-err-st #u1165-4,#widgetu1182.fld-err-st #u1184-4,#widgetu1177.fld-err-st #u1178-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 18px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1177.non-empty-st #u1178-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1177:hover #u1178-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1177.focus-st #u1178-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1169
{
	z-index: 225;
	width: 342px;
	height: 113px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: -1px;
}

#widgetu1169.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 113px;
	min-height: 0px;
	margin: 290px -10000px 0px 0px;
}

#u1176-4
{
	z-index: 226;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 18px;
	color: #000000;
	font-size: 18px;
	text-align: left;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	left: 11px;
}

#widgetu1182.fld-err-st #u1185-4,#widgetu1177.fld-err-st #u1180-4,#widgetu1169.fld-err-st #u1176-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#u1174-4
{
	z-index: 230;
	width: 328px;
	min-height: 18px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 18px;
	color: #7F7F7F;
	font-size: 18px;
	font-family: Times, Times New Roman, Georgia, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 81px;
}

#widgetu1169.non-empty-st #u1174-4
{
	background-color: #FFFFFF;
}

#widgetu1169:hover #u1174-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 18px;
	width: 328px;
	margin: 81px -10000px 0px 0px;
}

#widgetu1169.focus-st #u1174-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 18px;
	width: 328px;
	margin: 81px -10000px 0px 0px;
}

#widgetu1169.fld-err-st #u1174-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 18px;
	width: 328px;
	margin: 81px -10000px 0px 0px;
}

#widgetu1169.non-empty-st #u1174-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1169:hover #u1174-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1169.focus-st #u1174-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1162.fld-err-st #u1165-4 *,#widgetu1182.fld-err-st #u1184-4 *,#widgetu1186.fld-err-st #u1189-4 *,#widgetu1186.fld-err-st #u1188-4 p,#widgetu1177.fld-err-st #u1178-4 *,#widgetu1169.fld-err-st #u1174-4 *
{
	color: #D7244C;
	font-style: italic;
}

#u1172-4
{
	z-index: 234;
	width: 10px;
	min-height: 20px;
	background-color: transparent;
	line-height: 18px;
	color: #FF0000;
	font-size: 18px;
	text-align: right;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu1162.fld-err-st #u1164-4,#widgetu1182.fld-err-st #u1183-4,#widgetu1186.fld-err-st #u1188-4,#widgetu1169.fld-err-st #u1172-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 10px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1162.fld-err-st #u1163-4 p,#widgetu1162.fld-err-st #u1163-4 span,#widgetu1162.fld-err-st #u1164-4 p,#widgetu1182.fld-err-st #u1185-4 p,#widgetu1182.fld-err-st #u1185-4 span,#widgetu1182.fld-err-st #u1183-4 p,#widgetu1186.fld-err-st #u1187-4 p,#widgetu1186.fld-err-st #u1187-4 span,#widgetu1177.fld-err-st #u1180-4 p,#widgetu1177.fld-err-st #u1180-4 span,#widgetu1169.fld-err-st #u1176-4 p,#widgetu1169.fld-err-st #u1176-4 span,#widgetu1169.fld-err-st #u1172-4 p
{
	color: #D7244C;
}

#recaptcha_image
{
	position: relative;
	width: 301px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 1px;
}

#u1175
{
	z-index: 239;
	width: 18px;
	height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 313px;
	background: transparent url("../images/recaptcharefresh.png") no-repeat center center;
	background-size: contain;
}

#u1175:hover
{
	width: 18px;
	height: 18px;
	min-height: 0px;
	margin: 31px -10000px 0px 0px;
	background: transparent url("../images/recaptcharefreshrollover.jpg") no-repeat center center;
	background-size: contain;
}

#u1175:active
{
	width: 18px;
	height: 18px;
	min-height: 0px;
	margin: 31px -10000px 0px 0px;
	background: transparent url("../images/recaptcharefreshmousedown.jpg") no-repeat center center;
	background-size: contain;
}

#u1173
{
	z-index: 240;
	width: 18px;
	height: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 313px;
	background: transparent url("../images/recaptchahelp.png") no-repeat center center;
	background-size: contain;
}

#u1173:hover
{
	width: 18px;
	height: 18px;
	min-height: 0px;
	margin: 49px -10000px 0px 0px;
	background: transparent url("../images/recaptchahelprollover.jpg") no-repeat center center;
	background-size: contain;
}

#u1173:active
{
	width: 18px;
	height: 18px;
	min-height: 0px;
	margin: 49px -10000px 0px 0px;
	background: transparent url("../images/recaptchahelpmousedown.jpg") no-repeat center center;
	background-size: contain;
}

#widgetu1162_input,#widgetu1162_prompt,#widgetu1182_input,#widgetu1182_prompt,#widgetu1177_input,#widgetu1177_prompt,#recaptcha_response_field,#widgetu1169_prompt
{
	width: 328px;
	min-height: 18px;
	color: #7F7F7F;
	font-family: Times, Times New Roman, Georgia, serif;
	font-size: 18px;
	font-style: italic;
	padding: 6px;
}

#widgetu1162.focus-st #widgetu1162_prompt,#widgetu1182.focus-st #widgetu1182_prompt,#widgetu1186.focus-st #widgetu1186_prompt,#widgetu1177.focus-st #widgetu1177_prompt,#widgetu1169.focus-st #widgetu1169_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu1162:hover #widgetu1162_input,#widgetu1162.focus-st #widgetu1162_input,#widgetu1162.fld-err-st #widgetu1162_input,#widgetu1162:hover #widgetu1162_prompt,#widgetu1162.fld-err-st #widgetu1162_prompt,#widgetu1182:hover #widgetu1182_input,#widgetu1182.focus-st #widgetu1182_input,#widgetu1182.fld-err-st #widgetu1182_input,#widgetu1182:hover #widgetu1182_prompt,#widgetu1182.fld-err-st #widgetu1182_prompt,#widgetu1186:hover #widgetu1186_input,#widgetu1186.focus-st #widgetu1186_input,#widgetu1186.fld-err-st #widgetu1186_input,#widgetu1186:hover #widgetu1186_prompt,#widgetu1186.fld-err-st #widgetu1186_prompt,#widgetu1177:hover #widgetu1177_input,#widgetu1177.focus-st #widgetu1177_input,#widgetu1177.fld-err-st #widgetu1177_input,#widgetu1177:hover #widgetu1177_prompt,#widgetu1177.fld-err-st #widgetu1177_prompt,#widgetu1169:hover #recaptcha_response_field,#widgetu1169.focus-st #recaptcha_response_field,#widgetu1169.fld-err-st #recaptcha_response_field,#widgetu1169:hover #widgetu1169_prompt,#widgetu1169.fld-err-st #widgetu1169_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu1162.non-empty-st #widgetu1162_prompt,#widgetu1182.non-empty-st #widgetu1182_prompt,#widgetu1186.non-empty-st #widgetu1186_prompt,#widgetu1177.non-empty-st #widgetu1177_prompt,#widgetu1169.non-empty-st #widgetu1169_prompt
{
	visibility: hidden;
}

#u1190-7
{
	z-index: 241;
	width: 170px;
	min-height: 25px;
	background-color: transparent;
	line-height: 22px;
	color: #FF0000;
	font-size: 18px;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 474px;
	left: 60px;
}

#u1190
{
	color: #FF0000;
	font-family: Times, Times New Roman, Georgia, serif;
}

#u1190-2
{
	color: #000000;
	font-style: italic;
}

#u1190-3
{
	color: #FFFFFF;
	font-style: italic;
}

#u1190-4
{
	color: #000000;
	font-family: Times, Times New Roman, Georgia, serif;
	font-style: italic;
}

.TabbedPanelsTab /* tabset */
{
	cursor: pointer;
}

#pu412,#pu4523
{
	width: 0.01px;
}

#u4523
{
	z-index: 248;
	width: 1280px;
	background-color: #3F3F3F;
	background-color: rgba(0,0,0,0.75);
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0,0,0,0.75);
}

#u4523_position_content
{
	padding-top: 32px;
}

#u4527
{
	z-index: 278;
	width: 32px;
	height: 32px;
	margin-left: 1216px;
	position: relative;
	background: transparent url("../images/to%20the%20top.png") no-repeat center center;
}

#u4524-6
{
	z-index: 249;
	width: 1280px;
	min-height: 64px;
	background-color: #BFBFBF;
	background-color: rgba(127,127,127,0.5);
	text-indent: 5px;
	line-height: 22px;
	font-size: 18px;
	text-align: left;
	font-family: Times, Times New Roman, Georgia, serif;
	margin-top: 128px;
	position: relative;
	-pie-background: rgba(127,127,127,0.5);
}

#u4524-2
{
	padding-top: 5px;
	font-weight: bold;
}

#u4524-4
{
	padding-top: 5px;
}

#u4525-17
{
	z-index: 255;
	width: 500px;
	min-height: 89px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	font-family: Times, Times New Roman, Georgia, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 103px;
	left: 390px;
}

#u4525-4
{
	color: #7F7F7F;
	font-weight: bold;
}

#u1272-4,#u1157-4,#u1274-4,#u4525,#u4525-7,#u4525-10,#u4525-13
{
	font-weight: bold;
}

#u4526-6
{
	z-index: 272;
	width: 151px;
	min-height: 64px;
	line-height: 22px;
	font-size: 18px;
	text-indent: 40px;
	font-family: Times, Times New Roman, Georgia, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 192px;
	left: 1129px;
	background: transparent url("../images/adobe%20muse.png") no-repeat left center;
}

#u4526-2,#u4526-4
{
	padding-top: 8px;
}

#u4526-3
{
	font-family: Times, Times New Roman, Georgia, serif;
	font-weight: bold;
}

#u4528
{
	z-index: 280;
	height: 31px;
	width: 31px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 480px;
	background: url("../images/facebook-u4528.png") no-repeat 0px 0px;
}

#u4529
{
	z-index: 283;
	height: 31px;
	width: 31px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 775px;
	background: url("../images/google--u4529.png") no-repeat 0px 0px;
}

#u4530
{
	z-index: 286;
	height: 31px;
	width: 31px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 627px;
	background: url("../images/twitter-u4530.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1280px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

